.plist{
    width: 100%;
    /* max-width: 1024px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
   
}
.plistItem{
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.plistImag{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.plistTitles h1{
    font-size: 18px; 
    text-transform: capitalize; 
}
.plistTitles h2{
    font-size: 10px;
   
}